---
console.log("This runs in your terminal, not the browser!");
---

<!-- component template -->
<html>
  <body>
    <h1>Hello, Hyun!</h1>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
